<form [formGroup]="addPaymentForm" novalidate>
  <div class="contanier-fluid">
      <div class="row alert alert-info">
          <strong>Info!</strong> Below Table Contains Available Account Number.
        </div>
    <div class="row mt-5 mr-2">
      <div class="col-md-4">
        <div class="row clearfix">
          <div class="col-md-5">
            <label class="float-right">Source Account Number</label>
          </div>
          <div class="col-md-7">
            <input
              class="form-control"
              type="number"
              formControlName="sourceAccountNumber"
            />
            <span
              class="error-msg"
              *ngIf="submitted && f.sourceAccountNumber.errors"
              style="position: relative;
                             display: inline-block;"
              >Account Number must be 6</span
            >
          </div>
        </div>
        <div class="row clearfix mt-3">
          <div class="col-md-5">
            <label class="float-right">Currency Code</label>
          </div>
          <div class="col-md-7">
            <select class="form-control" formControlName="currencyCode">
              <option *ngFor="let cur of currency" [value]="cur"
                >{{ cur }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row clearfix">
          <div class="col-md-5">
            <label class="float-right">Destination AccountNumber</label>
          </div>
          <div class="col-md-7">
            <input
              class="form-control"
              id="accountHolderName"
              type="number"
              formControlName="destinationAccountNumber"
            />
            <span
              class="error-msg"
              *ngIf="submitted && f.destinationAccountNumber.errors"
              style="position: relative;
                                 display: inline-block;"
              >Account Number must be 6</span
            >
          </div>
        </div>
        <div class="row clearfix mt-3">
          <div class="col-md-5">
            <label class="float-right">Payment Description</label>
          </div>
          <div class="col-md-7">
            <input
              formControlName="paymentDescription"
              type="text"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row clearfix">
          <div class="col-md-5">
            <label class="float-right">Amount </label>
          </div>
          <div class="col-md-7">
            <input
              class="form-control"
              type="number"
              formControlName="amount"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row m-2">
      <button class="btn btn-primary" (click)="save()">Save</button>
      <button class="btn btn-secondary ml-2" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</form>
<div class="row mt-2">
  <table class="table table-boarded">
    <thead>
      <tr>
        <th>Account Number</th>
        <th>Account HolderName</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let list of accountList">
        <td>{{ list.accountNumber }}</td>
        <td>{{ list.accountHolderName }}</td>
      </tr>
    </tbody>
  </table>
</div>
