<form [formGroup]="addAccountForm" novalidate>
  <div class="contanier-fluid">
    <div class="row mt-5 mr-2">
      <div class="col-md-4">
        <div class="row clearfix">
          <div class="col-md-5">
            <label class="float-right">Account Number</label>
          </div>
          <div class="col-md-7">
            <input
              formControlName="accountNumber"
              type="number"
              class="form-control"
            />
            <span
              class="error-msg"
              *ngIf="submitted && f.accountNumber.errors"
              style="position: relative;
                                  display: inline-block;"
              >Account Number must be 6</span
            >
          </div>
        </div>
        <div class="row clearfix mt-3">
          <div class="col-md-5">
            <label class="float-right">Phone Number: </label>
          </div>
          <div class="col-md-7">
            <input
              class="form-control"
              type="phone"
              formControlName="accountHolderPhoneNumber"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row clearfix">
          <div class="col-md-5">
            <label class="float-right">Account Holder Name: </label>
          </div>
          <div class="col-md-7">
            <input
              class="form-control"
              id="accountHolderName"
              type="text"
              formControlName="accountHolderName"
            />
          </div>
        </div>
        <div class="row clearfix mt-3">
          <div class="col-md-5">
            <label class="float-right">Account Description:</label>
          </div>
          <div class="col-md-7">
            <input
              class="form-control"
              id="accountDescription"
              type="text"
              formControlName="accountDescription"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row m-2">
      <button class="btn btn-primary" (click)="save()">Save</button>
      <button class="btn btn-secondary ml-2" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</form>
